<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/users.css">
    <link rel="stylesheet" href="/footer.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h2>Users</h2>
        <section>
            <div class="users">
                    <% users.forEach(user => { %>
                        <div class="user">
                            <div class="info">
                                <h4><%= user.username %> <span> | <%= user.firstname %> <%= user.lastname %></span></h4>
                            </div>
                            <div class="actions">
                                <a href="/users/<%= user.id %>/delete"><span class="material-icons delete">delete</span></a>
                            </div>
                        </div>
                    <% }) %>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
